/* Icons */

[class^="icon-"] a:before,
[class*=" icon-"] a:before,
[class^="icon-"] a:after,
[class*=" icon-"] a:after,
i[class^="icon-"],
i[class*=" icon-"] {
  font-family: "#{$icons}";
  position:absolute;
  text-decoration:none;
  zoom: 1;
}

i[class^="icon-"],
i[class*=" icon-"] {
  display: inline-block;
  position: static;
  min-width: 20px;
  margin: 0 5px;
  text-align: center;
}

i[class^="icon-"].left,
i[class*=" icon-"].left {
    margin-left: -3px;
    position: relative;
    top: 0.05rem;
}

i[class^="icon-"].right,
i[class*=" icon-"].right {
    margin-right: -3px;
    position: relative;
    top: 0.05rem;
}